.about-container {
    padding: 30px;
    margin: 30px auto;
    max-width: 800px;
    background-color: #ffffff; /* Fondo blanco para mayor elegancia */
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    font-family: 'Roboto', sans-serif; /* Fuente más moderna */
    color: #333;
    text-align: center;
}

.about-container h1 {
    font-size: 28px;
    color: #0056b3; /* Azul más oscuro para el título */
    margin-bottom: 20px;
    font-weight: 700;
}

.about-container p {
    font-size: 21px;
    line-height: 1.8;
    color: #666;
    margin-bottom: 15px;
    text-align: justify;
}

.about-container p:last-child {
    margin-bottom: 0;
}

.social-container {
    display: flex;
    justify-content: center; /* Centrar los íconos horizontalmente */
    margin-top: 20px; /* Espacio superior para separar de los párrafos */
    padding: 20px;
}

.social-icon {
    margin: 0 30px; /* Espaciado entre los íconos */
    color: #333; /* Color del ícono */
    text-decoration: none; /* Eliminar el subrayado del enlace */
    transition: color 0.3s; /* Efecto de transición para el color */
}

.social-icon:hover {
    color: #0056b3; /* Cambiar color al pasar el ratón */
}


@media (max-width: 768px) {
    .about-container {
        padding: 20px;
        margin: 20px;
    }

    .about-container h1 {
        font-size: 24px;
    }

    .about-container p {
        font-size: 18px;
    }
}


